{% extends 'base.html' %}

{% load static  %}

{% block title %}ABOUT{% endblock %}

{% block content %}

    {% include 'header.html' with title='About Us' %}

    <section class="info mx-auto container row justify-content-between">
        <div class="col col-md-6 d-flex justify-content-center flex-column">
            <div class="mb-md-4 text-center text-md-left">
                <h3>Our Mission</h3>
                <p> Our Mission at Deluxe Days is to create positive social and environmental
                    impact through our business operations. We are committed to addressing
                    societal challenges and promoting sustainable solutions in which you can become host and
                    earn, while generating economic values for our stakeholders .</p>
            </div>
        </div>
        <div class="col col-md-6 d-flex justify-content-center align-items-center">
            <img src="{% static '/img/image.png' %}" class="aboutus_img">
        </div>
    </section>

    <section class="info mx-auto container row justify-content-between responsiveness">
        <div class="col col-md-6 d-flex justify-content-center align-items-center">
            <img src="{% static '/img/image1.png' %}" class="aboutus_img">
        </div>
        <div class="col col-md-6 d-flex justify-content-center flex-column">
            <div class="mb-md-4 text-center text-md-left">
                <h3 class="mt-4">Our Vision</h3>
                <p> Our Vision is to be leading social enterprise company that transforms
                    communities and protects the environment through sustainable and innovative
                    business practices. We strive to inspire others to join us in creating a more
                    equitable and sustainable world.</p>    
            </div>
        </div>
    </section>

    <div class="container my-4">
        <div class="customers py-4 px-5">
            <h1>Thankyou Board</h1>
            <p>Reviews from Our Valuable Investors and Strategic Partners</p>
            <div class="slide mt-4 mb-2">
                <img src="{% static '/img/image2.png' %}" style="height:100px;width:100px;">
                <div>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star checked"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </div>
                <p>Courtney Henry</p>
                <p>
                    “I wanted to take a moment to express my sincere gratitude for your Contribution .
                    Your hard work , dedication , and expertise have made a significant impact.”
                </p>
            </div>
        </div>
    </div>

    <div class="features text-center mt-4">
        <div class="container my-5 py-4">
            <h4>Why Choose Us?</h4>
            <p class="mb-4">These popular destinations have a lot to offer</p>
            <div class="row">
                <div class="col-md-4 my-4 px-4">
                    <img width="120" height="120" src="https://img.icons8.com/cute-clipart/128/airplane-mode-on.png" alt="airplane-mode-on"/>
                    <h5>
                        Travel
                    </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
                <div class="col-md-4 my-4 px-4">
                    <img width="120" height="120" src="https://img.icons8.com/cute-clipart/128/city-buildings.png" alt="city-buildings"/>
                    <h5>
                        City Tour
                    </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
                <div class="col-md-4 my-4 px-4">
                    <img width="120" height="120" src="https://img.icons8.com/cute-clipart/128/crowd.png" alt="crowd"/>
                    <h5>
                        Social Community
                    </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
                <div class="col-md-4 my-4 px-4">
                    <img width="120" height="120" src="https://img.icons8.com/cute-clipart/128/ok.png" alt="ok"/>
                    <h5>
                        Best price guarantee
                    </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
                <div class="col-md-4 my-4 px-4">
                    <img width="120" height="120" src="https://img.icons8.com/cute-clipart/128/tear-off-calendar.png" alt="tear-off-calendar"/>
                    <h5>
                        Easy Booking
                    </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
                <div class="col-md-4 my-4 px-4">
                    <img width="120" height="120" src="https://img.icons8.com/cute-clipart/128/headset.png" alt="headset"/>
                    <h5>
                        Customer Service 24h
                    </h5>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="form_portion mb-2">
            <div class="row">
                <div class="col col-12 col-lg-6 col-md-3">
                </div>
                <div class="col col-12 col-lg-6 col-md-9">
                    <div class="form-container">
                        <h2>Get in Touch with Us</h2>
                        <form>
                            <div class="row mt-3">
                                <div class="form-group col-md-6">
                                    <label for="name">First Name</label>
                                    <input type="text" class="form-control mt-1" id="name"
                                        placeholder="Enter your name">
                                </div>
                                <div class="form-group col-md-6">
                                    <label for="name">LastName</label>
                                    <input type="text" class="form-control mt-1" id="name"
                                        placeholder="Enter your name">
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <label for="email">Email address</label>
                                <input type="email" class="form-control mt-1" id="email" placeholder="Enter your email">
                            </div>
                            <div class="form-group mt-3">
                                <label for="phone">Phone Number</label>
                                <input type="tel" class="form-control mt-1" id="phone" name="phone"
                                    placeholder="Input your Phone Number in Here" pattern="[0-9]{3}-[0-9]">
                            </div>
                            <div class="form-group mt-3">
                                <label for="message">Message</label>
                                <textarea class="form-control mt-1" id="message" rows="5"
                                    placeholder="Write a message"></textarea>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="form_button">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="black-strip my-5">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-2 text-center">
                    <i class="fa fa-facebook"></i>
                </div>
                <div class="col-2 text-center">
                    <i class="fa fa-twitter"></i>
                </div>
                <div class="col-2 text-center">
                    <i class="fa fa-instagram"></i>
                </div>
                <div class="col-2 text-center">
                    <i class="fa fa-linkedin"></i>
                </div>
                <div class="col-2 text-center">
                    <i class="fa fa-linkedin"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="members mt-5">
        <div class="container">
            <h3>Team Members</h3>
            <div class="row mt-5">
                <div class="col-md-3">
                    <img src="{% static '/img/Jacob Robbert.png' %}">
                    <h5>
                        Jacob Robbert
                    </h5>
                    <p>Travel Cordinator</p>
                </div>
                <div class="col-md-3">
                    <img src="{% static '/img/Mike Robbert.png' %}">
                    <h5>
                        Mike Robbert
                    </h5>
                    <p>Customer Support</p>
                </div>
                <div class="col-md-3">
                    <img src="{% static '/img/Mike Robert.png' %}">
                    <h5>
                        Mike Robbert
                    </h5>
                    <p>Customer Support</p>
                </div>
                <div class="col-md-3">
                    <img src="{% static '/img/Maria Williams.png' %}">
                    <h5>
                        Maria Williams
                    </h5>
                    <p>Event Manager</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-3">
                    <img src="{% static '/img/Marry Henry.png' %}">
                    <h5>
                        Marry Henry
                    </h5>
                    <p>Travel Cordinator</p>
                </div>
                <div class="col-md-3">
                    <img src="{% static '/img/Sussy Wahya.png' %}">
                    <h5>
                        Sussy Wahiya
                    </h5>
                    <p>Customer Support</p>
                </div>
                <div class="col-md-3">
                    <img src="{% static '/img/Susy Wahya.png' %}">
                    <h5>
                        Sussy Wahiya
                    </h5>
                    <p>Customer Support</p>
                </div>
                <div class="col-md-3">
                    <img src="{% static '/img/Blake Robbert.png' %}">
                    <h5>
                        Blake Robbert
                    </h5>
                    <p>Event Manager</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}