{% extends 'base.html' %}

{% load static %}

{% block title %}HOME{% endblock %}

{% block content %}

    <header role="banner">
      {% include 'navbar.html' %}
      <div class="container">
        
        <div class="main row">
            <div class="text col-md-7">
              <h1>Book. Save. Go.</h1>
              <p>Experience Local Travel Like Never Before with Deluxe Days. Book Authentic Accommodations, Discover Unique Experiences, and Connect with Friendly Locals. Download Deluxe Days Now.</p>
              <div class="row">
                <a href="#" class="playstore"></a>
                <a href="#" class="appstore"></a>
              </div>
            </div>
            <div class="col-md-5 d-none d-md-flex align-items-center">
              <div class="header-img"></div>
            </div>
        </div>
      </div>
    </header>
    <div class="stats-bar row mx-auto px-0">
      <div class="stat col-md-3">
        <i class="fa fa-hotel"></i>
        <div class="count" id="counter" data-value="530">0</div>
        <div class="title">Accommodations</div>
      </div>
      <div class="stat col-md-3">
        <i class="fa fa-car"></i>
        <div class="count" id="counter" data-value="1250">0</div>
        <div class="title">Cars</div>
      </div>
      <div class="stat col-md-3">
        <i class="fa fa-anchor"></i>
        <div class="count" id="counter" data-value="50">0</div>
        <div class="title">Boats</div>
      </div>
      <div class="stat col-md-3">
        <i class="fa fa-users"></i>
        <div class="count" id="counter" data-value="5100">0</div>
        <div class="title">Trusted Users</div>
      </div>
    </div>

    <section class="about-short container mx-auto row">
      <div class="images col-md-6">
        <div class="img1"></div>
        <div class="img2"></div>
        <div class="img3"></div>
      </div>
      <div class="text col-md-6">
        <h2>Your One Stop Travel Solution</h2>
        <p>Deluxe Days offers an easy and seamless way to plan and book your dream vacation. We have everything you need to create unforgettable memories.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
        <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
      </div>
    </section>
    
    <section class="contact-short container-fluid row">
      <h2>Booking your journey has never be easier</h2>
      <p>Deluxe Days offers an easy and seamless way to plan and book your dream vacation. We have everything you need to create unforgettable memories.</p>
      <button>Contact Us Now</button>
    </section>
    
    <div class="tabs container row mx-auto my-5 text-center justify-content-center">
      <div class="col-6 col-md-4 px-0">
        <h4 id="guestToggle" class="tab" onclick="switchToGuest()" active="true">Guest</h4>
        <div class="tab-line"></div>
      </div>
      <div class="col-6 col-md-4 px-0">
        <h4 id="hostToggle" class="tab" onclick="switchToHost()" active="false">Host</h4>
      </div>
    </div>

    <div class="container mb-5 pb-4 px-0 overflow-hidden">
      <div id="tabContent" class="host-view">
        <section class="guest container justify-content-center px-0">
          <section class="services my-4">
            <h2>Services We Offer</h2>
            <div class="row my-4 py-3 overflow-hidden">

              <div class="col-lg-3 col-6 px-0 px-sm-3">
                <div class="box box-accomodation">
                  <img src="https://img.icons8.com/fluency-systems-regular/ffffff/256/home.png">
                  <h4>Accomodations</h4>
                </div>
              </div>
              <div class="col-lg-3 col-6 px-0 px-sm-3">
                <div class="box box-car">
                  <img src="https://img.icons8.com/fluency-systems-regular/ffffff/256/porsche-911-new.png">
                  <h4>Car</h4>
                </div>
              </div>
              <div class="col-lg-3 col-6 px-0 px-sm-3">
                <div class="box box-boat">
                  <img src="https://img.icons8.com/fluency-systems-regular/ffffff/256/yacht.png">
                  <h4>Boat</h4>
                </div>
              </div>
              <div class="col-lg-3 col-6 px-0 px-sm-3">
                <div class="box box-experience">
                  <img src="https://img.icons8.com/fluency-systems-regular/ffffff/256/taj-mahal.png">
                  <h4>Experience</h4>
                </div>
              </div>

            </div>
          </section>

          <section class="info mx-auto container row px-0">
            <div class="col col-md-6 p-4 d-flex justify-content-center flex-column">
              <div class="mb-md-5 text-center text-md-left">
                <h3>Guest Perks</h3>
                <p>Our Platform provides guest with a one-stop-shop for all their vacation needs, 
                  offering seamless bookings accross all four categories.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
              </div>
            </div>
            <div class="col col-md-6 d-flex justify-content-center align-items-center">
                <img src="{% static '/img/guest_perks_screen.png' %}">
            </div>
          </section>

          <section class="info mx-auto container row">
            <div class="col col-md-6 d-flex justify-content-center align-items-center order-first order-2 order-md-1">
                <img src="{% static '/img/guest_perks_screen.png' %}">
            </div>
            <div class="col col-md-6 p-4 d-flex justify-content-center flex-column order-last order-1 order-md-2">
              <div class="mb-md-5 text-center text-md-left">
                <h3>Chat Forum</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
              </div>
            </div>
          </section>
          
          <section class="info mx-auto container row">
            <div class="col col-md-6 p-4 d-flex justify-content-center flex-column">
              <div class="mb-md-5 text-center text-md-left">
                <h3>Become Part of Our Deluxe Days Social Media</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                  ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
              </div>
            </div>
            <div class="col col-md-6 d-flex justify-content-center align-items-center">
              <img src="{% static 'img/guest_perks_screen.png' %}">
            </div>
          </section>

        </section>
        
        <section class="host container justify-content-center">

          <section class="become-host">
            <h2>Host Like a Pro in 5 Easy Steps</h2>
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
              <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <div class="step row">
                    <div class="d-flex flex-column justify-content-center mx-2 col-md-6">
                      <h4>Download</h4>
                      <h3>01</h3>
                      <p class="mt-2">Download the Deluxe Days app From Play Store</p>
                      <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <img class="d-block col-md-6" src="{% static 'img/guest_perks_screen.png' %}" alt="Image 1">
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="step row">
                    <div class="d-flex flex-column justify-content-center mx-2 col-md-6">
                      <h4>Title</h4>
                      <h3>02</h3>
                      <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
                    </div>
                    <img class="d-block col-md-6" src="{% static 'img/guest_perks_screen.png' %}" alt="Image 1">
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="step row">
                    <div class="d-flex flex-column justify-content-center mx-2 col-md-6">
                      <h4>Title</h4>
                      <h3>03</h3>
                      <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    </div>
                    <img class="d-block col-md-6" src="{% static 'img/guest_perks_screen.png' %}" alt="Image 1">
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="step row">
                    <div class="d-flex flex-column justify-content-center mx-2 col-md-6">
                      <h4>Title</h4>
                      <h3>04</h3>
                      <p class="mt-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                    </div>
                    <img class="d-block col-md-6" src="{% static 'img/guest_perks_screen.png' %}" alt="Image 1">
                  </div>
                </div>
                <div class="carousel-item">
                  <div class="step row">
                    <div class="d-flex flex-column justify-content-center mx-2 col-md-6">
                      <h4>Title</h4>
                      <h3>05</h3>
                      <p class="mt-2">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                      </p>
                    </div>
                    <img class="d-block col-md-6" src="{% static 'img/guest_perks_screen.png' %}" alt="Image 1">
                  </div>
                </div>
              </div>
              <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
              <div class="design-circles">
                <div class="circle-1"></div>
                <div class="circle-2"></div>
              </div>
            </div>
          
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>            
          </section>

          <section class="host-collaboration">
            <h2 class="mb-2">Host Collaboration</h2>
            <h6 class="mb-4">Expand Your Profile and Network</h6>
            <div class="row mt-5">

              <div class="col col-md-4 px-4">
                <div class="box">
                  <img src="https://img.icons8.com/external-flat-icons-vectorslab/256/external-User-Network-marketing-strategy-flat-icons-vectorslab.png">
                  <h4>Host Network</h4>
                  <p>Share success and growth opportunities</p>
                </div>
              </div>
              <div class="col col-md-4 px-4">
                <div class="box">
                  <img src="https://img.icons8.com/color/256/open-box.png">
                  <h4>Bundles</h4>
                  <p>Save time and money and find tailored deals</p>
                </div>
              </div>
              <div class="col col-md-4 px-4">
                <div class="box">
                  <img src="https://img.icons8.com/color/256/calendar--v1.png">
                  <h4>Streamlined Booking</h4>
                  <p>Quick and efficient bookings and Easy-to-use system</p>
                </div>
              </div>

            </div>
          </section>
          
          <section class="info mx-auto container row px-0">
            <div class="col col-md-6 p-4 d-flex justify-content-center flex-column">
              <div class="mb-md-5 text-center text-md-left">
                <h3>Host Benefits</h3>
                <p>Our Platform provides guest with a one-stop-shop for all their vacation needs, 
                  offering seamless bookings accross all four categories.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
                  Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
              </div>
            </div>
            <div class="col col-md-6 d-flex justify-content-center align-items-center">
              <img src="{% static 'img/guest_perks_screen.png' %}">
            </div>
          </section>

        </section>
      </div>
    </div>
    
    <section class="reviews mx-auto my-5 container">
      <h3 class="mb-4 text-center">What they say about us</h3>
      <div class="row">

        <div class="col col-md-4 p-3">
          <div class="review-box p-4">
            <div class="profile">
              <img src="https://img.freepik.com/premium-photo/natural-real-person-portrait-closeup-woman-girl-female-outside-nature-forest-artistic-edgy-cute-pretty-face-ai-generated_590464-133624.jpg">
              <h5>Angelina Simple</h5>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
          </div>
        </div>

        <div class="col col-md-4 p-3">
          <div class="review-box p-4">
            <div class="profile">
              <img src="https://img.freepik.com/premium-photo/natural-real-person-portrait-closeup-woman-girl-female-outside-nature-forest-artistic-edgy-cute-pretty-face-ai-generated_590464-133624.jpg">
              <h5>Angelina Simple</h5>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
          </div>
        </div>
        
        <div class="col col-md-4 p-3">
          <div class="review-box p-4">
            <div class="profile">
              <img src="https://img.freepik.com/premium-photo/natural-real-person-portrait-closeup-woman-girl-female-outside-nature-forest-artistic-edgy-cute-pretty-face-ai-generated_590464-133624.jpg">
              <h5>Angelina Simple</h5>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
          </div>
        </div>
        
        <div class="col col-md-4 p-3">
          <div class="review-box p-4">
            <div class="profile">
              <img src="https://img.freepik.com/premium-photo/natural-real-person-portrait-closeup-woman-girl-female-outside-nature-forest-artistic-edgy-cute-pretty-face-ai-generated_590464-133624.jpg">
              <h5>Angelina Simple</h5>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
          </div>
        </div>

        <div class="col col-md-4 p-3">
          <div class="review-box p-4">
            <div class="profile">
              <img src="https://img.freepik.com/premium-photo/natural-real-person-portrait-closeup-woman-girl-female-outside-nature-forest-artistic-edgy-cute-pretty-face-ai-generated_590464-133624.jpg">
              <h5>Angelina Simple</h5>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
          </div>
        </div>
        
        <div class="col col-md-4 p-3">
          <div class="review-box p-4">
            <div class="profile">
              <img src="https://img.freepik.com/premium-photo/natural-real-person-portrait-closeup-woman-girl-female-outside-nature-forest-artistic-edgy-cute-pretty-face-ai-generated_590464-133624.jpg">
              <h5>Angelina Simple</h5>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.</p>
          </div>
        </div>      

      </div>
    </section>
    
    <script>
      window.addEventListener('scroll', function() {
        var counterElements = document.getElementsByClassName('count');
        var counterPosition = counterElements[0].getBoundingClientRect().top;
        var windowHeight = window.innerHeight;

        if (counterPosition < windowHeight) {

        Array.prototype.forEach.call(counterElements, function(counter) {
          var currentValue = parseInt(counter.textContent);
          var targetValue = parseInt(counter.getAttribute('data-value'));

          if(currentValue < targetValue)
          {
            var interval = setInterval(function() {

            var currentValue = parseInt(counter.textContent);

            counter.textContent = currentValue + 1;

            if (currentValue >= targetValue) {
              clearInterval(interval);
            }
            }, 50);
          }
        });
      }
      });
      
      switchToGuest();

      function switchToGuest()
      {
        var tabContent = document.getElementById('tabContent');
        tabContent.classList.remove('host-view');
        tabContent.style.height = document.getElementsByClassName('guest')[0].offsetHeight + 'px';
        document.getElementById('hostToggle').setAttribute('active', 'false');
        document.getElementById('guestToggle').setAttribute('active', 'true');
        
      }
      function switchToHost()
      {
        var tabContent = document.getElementById('tabContent');
        tabContent.classList.add('host-view');
        tabContent.style.height = document.getElementsByClassName('host')[0].offsetHeight + 'px';
        
        document.getElementById('guestToggle').setAttribute('active', 'false');
        document.getElementById('hostToggle').setAttribute('active', 'true');
      }
    </script>

{% endblock %}