<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="index.html"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample05" aria-controls="navbarsExample05" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample05">
      <ul class="navbar-nav ml-auto pl-lg-5 pl-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about' %}">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact' %}">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blogs' %}">Blogs</a>
        </li>
        <li class="nav-item d-flex flex-column">
          <a class="nav-link">Gallery <div style="color: #ffffb1; font-size: 14px; font-weight: bolder;"> Coming Soon!</div></a>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item download-btn">
          <a class="nav-link" href="#">Download Now</a>
        </li>
      </ul>
      
    </div>
</nav>